*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F9E9EC;
    color: #1D2F6F;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 0.2rem;
    font-size: 3rem;
    background-color: #FCF6BD;
    color: #f77f00;
}
.ali{
    color: red;
}
.reset{
    padding: 10px;
    color:#fff;
    background-color:#1D2F6F;
    font-size: 1.5rem;
    border-radius: 15px;
}
.newgame{
    padding: 10px;
    color:#fff;
    background-color:#1D2F6F;
    font-size: 1.5rem;
    border-radius: 15px;
}
.msgcontainer{
    height: 100vmin;
    font-size: 4rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.hide{
    display: none; 
}